---
import { Image } from 'astro:assets'
import BaseLayout from '../layouts/BaseLayout.astro'
import { type CollectionEntry, getCollection, render } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('post')
  return posts.map((p) => ({
    params: { slug: p.id == 'index' ? import.meta.env.BASE_URL : p.id },
    props: p
  }))
}
type Props = CollectionEntry<'post'>

const post = Astro.props
const { Content } = await render(post)
const { data } = post
---

<BaseLayout {...data}>
  <header>
    <h1>{data.title}</h1>
    <Image
      src={data.heroImage}
      alt={data.title}
      layout="constrained"
      fetchpriority="high"
      format="avif"
      loading="eager"
    />
  </header>
  <Content />
</BaseLayout>
