---

---

<main
  class:list={[
    'prose prose-neutral prose-a:text-green-600 prose-a:hover:text-green-700 prose-sm md:prose-base',
    'dark:prose-invert dark:prose-a:text-green-400 dark:prose-a:hover:text-green-500',
    'font-inter mx-auto px-4 py-8'
  ]}
>
  <slot />
</main>
